<div>
    <h3>Criar departamento</h3>
    <label for="">
        Nome:
        <input type="text" [(ngModel)]="nomeCategoria" />
    </label>
    <button type="button" (click)="criarDepartamento()">
        Criar
    </button>
</div>

<hr />

<div>
    <h3>Departamentos Cadastrados</h3>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Departamento</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dpto of departamentos">
                <td>{{ dpto.id }}</td>
                <td>{{ dpto.departamento }}</td>
            </tr>
        </tbody>
    </table>
</div>