
<h3>
  Departamentos
</h3>

<div>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th> 
        <th>Email</th>
        <th>Cargo</th>
        <th>DepartamentoId</th>
      </tr>
    </thead>
    <tbody>
      @for(departamento of TipoDepartamento(); track $index) {
      <tr>
        <td>{{ departamento.id }}</td>
        <td>{{ departamento.nome }}</td>
        <td>{{ departamento.email }}</td>
        <td>{{ departamento.cargo }}</td>
        <td>{{ buscaDepartamento(departamento.departamentoId) }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
    id: string;
    nome: string;
    email: string;
    cargo: string;
    departamentoId: string;