    <header>
    <nav>
        <div class="logo">
            
        </div>  
        <ul>
        <li routerLink="/" routerLinkActive="ativo" [routerLinkActiveOptions]="{exact: true}">
                Lista vagas
        </li>       
        <li routerLink="/form-vaga" routerLinkActive="ativo" [routerLinkActiveOptions]="{exact: true}">
                Formulário vagas
        </li>
        <li routerLink="/gestores" routerLinkActive="ativo" [routerLinkActiveOptions]="{exact: true}">
                Gestores
        </li>
        <li routerLink="/departamentos" routerLinkActive="ativo" [routerLinkActiveOptions]="{exact: true}">
                Departamento
        </li>
        </ul>
    </nav>
</header>