<h3>
    Gestores
</h3>

<div>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Gestor</th>
        <th>Email</th>
        <th>Cargo</th>
        <th>GestorId</th>
      </tr>
    </thead>
    <tbody>
      @for(gestor of TipoGestor(); track $index) {
      <tr>
        <td>{{ gestor.id }}</td>
        <td>{{ gestor.nome }}</td>
        <td>{{ gestor.email }}</td>
        <td>{{ gestor.cargo }}</td>
        <td>{{ buscaGestor(gestor.gestorId) }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
