<div>
  <h3>Lista de Vagas</h3>

  <div style="margin-bottom: 1rem;">
    <button type="button" routerLink="/form-vaga">➕ Nova Vaga</button>
  </div>

  <table>
    <thead>
      <tr>
        <th>Título</th>
        <th>Gestor</th>
        <th>Departamento</th>
        <th>Data</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      @for(vaga of pedidoVaga(); track $index) {
      <tr>
        <td>{{ vaga.titulo }}</td>
        <td>{{ buscaGestor(vaga.gestorId) }}</td>
        <td>{{ buscaDepartamento(vaga.departamentoId).departamento }}</td>
        <td>{{ converteData(vaga.dataSolicitacao) }}</td>
        <td>
          <button type="button" (click)="editarVaga(vaga)" style="margin-right: 0.5rem;">✏️ Editar</button>
          <button type="button" (click)="deletarVaga(vaga)">🗑️ Excluir</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>